* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  background: #000;
  padding: 40px;
  border-radius: 6px;
  width: 850px;
}

.titulo {
  color: #aaa;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.coluna {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 48%;
}

label {
  font-size: 12px;
  text-transform: uppercase;
  color:white;
}

input {
  background: transparent;
  border: 1px solid #777;
  border-radius: 4px;
  padding: 8px 10px;
  color: #d4af37;
  font-size: 14px;
}

input::placeholder {
  color: #d4af37;
}

.login-link {
  color: #aaa;
  font-size: 11px;
  text-align: right;
  text-decoration: none;
  margin-top: 5px;
}

.botao {
  display: block;
  width: 60%;
  margin: 30px auto 0;
  background: #d4af37;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 12px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.botao:hover {
  background: black;
}